{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'Dashboard'|trans }}
            <small>{{ 'Control panel'|trans }}</small>
        </h1>
        <p>
            {{'Today is'|trans}} {{ datime }}
        </p>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>{{ 'news'|trans }}</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="{{ url('admin_post') }}" class="small-box-footer">{{ 'More info'|trans }}<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->

        </div>

    </section>

{% endblock %}