{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'Dashboard'|trans }}
            <small>{{ 'Control panel'|trans }}</small>
        </h1>
        <p>
            {{'Today is'|trans}} {{ datime }}
        </p>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header">
                        <h3 class="box-title">Pages</h3>
                    </div>
                    <div class="box-body">
                        <div class="text-center" style="font-size:1.5em;">
                            Total views <br>
                            <b>{{viewCount}}</b>
                        </div>
                        <h5>Top 5</h5>
                        <table class="table table-condensed">
                        {% for page in mostViewed %}
                            <tr>
                                <td>{{ page.name }}</td>
                                <td><span class="badge">{{page.viewCount}}</span></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>


                </div>
            </div><!-- ./col -->

        </div>

    </section>

{% endblock %}
