{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Job'}, 'Job') }} - {{ parent() }}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            {{ '%entity% list'|trans({'%entity%': 'Job'}, 'Job') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in pagination %}
                        {% set statusClass = 'text-yellow' %}
                        {% if job.status == 'status_done_ok' %}
                            {% set statusClass = 'text-green' %}
                        {% elseif job.status == 'status_done_fail' %}
                            {% set statusClass = 'text-red' %}
                        {% endif %}
                        <tr>
                            <td>{{ job.id }}</td>
                            <td>{{ job.name }}</td>
                            <td class="{{ statusClass }}">
                                {{ job.status }}
                            </td>
                            <td>{{ job.description }}</td>
                            <td>{{ job.created|date }}</td>
                            <td>{{ job.updated|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>

    </section>

{% endblock %}
